namespace Qlik.Sense.RestClient
{
    public static class SystemConstants
    {
        public const string LIBRARY_IDENTIFIER = "QlikSenseRestClient";
        public const string LIBRARY_VERSION = "@VERSION";
    }
}
